﻿@{
    ViewData["Title"] = "MainPage";
}

<div class="text-center">
    <a asp-controller="AddAnimal" asp-action="Index"><button>Добавить животное</button></a>
</div>
<div class="text-center">
    <a asp-controller="ListAnimal" asp-action="Index"><button>Список животных</button></a>
</div>
<div class="text-center">
    <a asp-controller="AddPasport" asp-action="Index"><button>Добавить паспорт</button></a>
</div>
<div class="text-center">
    <a asp-controller="Vaccine" asp-action="AddVaccineToPassport"><button>Добавить вакцину в паспорт</button></a>
</div>
<div class="text-center">
    <a asp-controller="Record" asp-action="Create"><button>Записаться в ветклинику</button></a>
</div>