﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Registration" asp-action="Index"><button>Регистрация</button></a>
</div>

<div class="text-center">
    <a asp-controller="Authorization" asp-action="Index"><button>Авторизация</button></a>
</div>