@model List<Animal>

@{
    ViewData["Title"] = "Мои животные";
}

<h2>Мои животные</h2>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Тип</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Model)
            {
                <tr>
                    <td>@animal.Name</td>
                    <td>@animal.Age</td>
                    <td>@animal.Type</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>У вас пока нет животных.</p>
}
<div>
    <button onclick="window.history.back()" class="btn btn-secondary">Назад</button>
</div>